@model LoanManagementSystem.Models.LoanCategory

@{
    ViewData["Title"] = "Details";
}
<style>

body{
        
        background-color:aquamarine;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100%;
          }
</style>
<h1>Details</h1>

<div>
    <h4>LoanCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanName)
        </dd>
    </dl>
</div>
<div>
   @* <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.LoanId">Edit</a> |*@
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
