@using LoanManagementSystem.Areas.LoanMgmt.ViewModels
@model ShowPlansViewModel
@{
}
<style>

body{
        
        background-color:aquamarine;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100%;
          }
</style>
<center><h1>List of Plans in the Library</h1></center>

<div class="row">
    <div class="col-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="LoanId" class="control-label"></label>
                <select asp-for="LoanId" asp-items="ViewBag.LoanCategoriesCollection" class="form-control"></select>
                <span asp-validation-for="LoanId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Show Plans</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}