@model LoanManagementSystem.Models.Approval

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<style>

body{
        
        background-color:aquamarine;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100%;
          }
</style>
<h4>Add New Approval</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
               @* <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>*@
               <input type="text" id="CustomerId" class="form-control" name="CustomerId" value ="@ViewBag.CustomerId"  readonly="readonly"/> 
                  <input type="text" class="form-control" value ="@ViewBag.FullName" readonly="readonly"/>
                   <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalDate" class="control-label"></label>
                <input asp-for="ApprovalDate" class="form-control" />
                <span asp-validation-for="ApprovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
